/* import font */

/* UNIVERSAL */
* {
box-sizing: border-box;
/* border: 2px solid rgb(244, 23, 141); */
margin: 0;
}

/* GENERAL LAYOUT */
.grid-container{
display: grid;
grid-template-columns: 150px 1fr 1fr 150px;
height: 100vh;
}

header, footer{
    grid-column: 1/5;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    /* padding: 10px 10px; */
}

main{
    /* background-color: aqua; */
    grid-column: 2/4;
    padding: 40px;
}

/* HEADER */
ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding: 10px;
}

header{
    height: 60px;

}

nav{
    align-self: center;
}

.header-nav{
    margin-left: 50px;
}
/* MAIN */
table {
    /* background-color: aquamarine; */
    border: 1px solid grey;
    border-collapse: collapse;
}





th {
    text-align: center;

}

tr:nth-child(even){
    background-color: rgb(211, 209, 209)
}

thead{
    background-color: aquamarine;
}

.table-project-name{
    text-align: left;
}

.table-number{
    text-align: center;
}

/* FOOTER */
footer {
    height: 60px;
    align-self: flex-end;
    justify-content: space-between;
}

.footer-nav{
    gap: 10px;
}

.made-by{
    height: 30px;
    align-self: center;
    padding: 5px 10px;
    margin-left: 30px;
}
