{% extends 'base.html' %}

{% block title %}projects chart{% endblock title %}

{% block content %}
<main>

    <div>

        <h1>{{ parent_project.name }}</h1>
        <p>{{ parent_project.description }}</p>

        <h2>Tasks</h2>
        <p class="create">
            <a href="{% url "create_task" %}">Create New Task</a>
        </p>
        <p class="create">
            <a href="{% url "edit_project" parent_project.id %}">Edit Project</a>
        </p>
        {% if tasks.all|length > 0 %}
        <table>
            <thead>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for task in tasks.all  %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date|date:"m/d/Y g:iA" }}</td>
                    <td>{{ task.due_date|date:"m/d/Y g:iA" }}</td>
                    <td>{{ task.is_complete|yesno }}</td>
                    <td>
                        <a href="{% url "edit_task" task.id %}" class="create">Edit</a>
                    </td>
                    <td>
                        <a href="{% url "delete_task" task.id%}" class="create">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>

    <div class="chart">
    {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>
    <a href="{% url "delete_project" parent_project.id%}" class="create">DELETE PROJECT</a>
</main>
{% endblock content %}
