{% extends 'base.html' %}

{% block title %}
    My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks.all|length > 0 %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in tasks.all  %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.start_date|date:"m/d/Y g:iA" }}</td>
                                <td>{{ task.due_date|date:"m/d/Y g:iA" }}</td>
                                <td>
                                    <form action="" method="post">
                                        {% csrf_token %}

                                        {% if task.is_complete %}
                                        <div>
                                            <input type="checkbox" checked="checked" value={{task.id}} name="boxes">
                                            <label for="yesno">{{ task.is_complete|yesno }}</label>
                                        </div>
                                        {% else %}
                                        <div>
                                            <input type="checkbox" value={{task.id}} name="boxes">
                                            <label for="yesno">{{ task.is_complete|yesno }}</label>
                                        </div>
                                        {% endif %}
                                        <button class ="btn btn-secondary" type="submit">Submit</button>
                                    </form>

                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </main>
{% endblock content %}
